{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}
{% block body %}
    <div class="container">
        <h1>Articles</h1>


        {% for article in articles %}
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ article.name }}</h5>
                    <p class="card-text">{{ article.text | truncate(200) }}</p>
                    <a href="{{ path('article_show', {'id': article.id}) }}" class="btn btn-primary">Show more</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('article_edit', {'id': article.id}) }}" class="btn btn-primary">Edit</a>
                    {% endif %}
                </div>
                <div class="card-footer text-muted">
                    {{ article.creationDate ? 'Created: ' ~ article.creationDate|date('Y-m-d H:i:s') : '' }}
                    {{ article.editDate ? ' - Edited: ' ~ article.editDate|date('Y-m-d H:i:s') : '' }}
                </div>
            </div>

        {% else %}
            <tr>
                        <td colspan="6">no records found</td>
                    </tr>
        {% endfor %}

        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('article_new') }}" class="btn btn-primary">Create new</a>
        {% endif %}
    </div>
{% endblock %}
